In [2]:
import pandas as pd

In [3]:
MVPstats = pd.read_csv('MVPexcel.csv')
MVPstats

,Year,League,Name,Team,WAR,BA,OBP,SLG,HR,RBI,SB,W,L,SV,ERA,IP,SO
0,2022.0,AL,Aaron Judge,NYY,10.6,0.311,0.425,0.686,62.0,131.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2022.0,NL,Paul Goldschmidt,STL,7.8,0.317,0.404,0.578,35.0,115.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2021.0,AL,Shohei Ohtani,LAA,9.0,0.257,0.372,0.592,46.0,100.0,26.0,9.0,2.0,0.0,3.18,130.1,156.0
3,2021.0,NL,Bryce Harper,PHI,5.9,0.309,0.429,0.615,35.0,84.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2020.0,AL,José Abreu,CHW,3.0,0.317,0.370,0.617,19.0,60.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
MVP = MVPstats.fillna(0)
MVP.head()

,Year,League,Name,Team,WAR,BA,OBP,SLG,HR,RBI,SB,W,L,SV,ERA,IP,SO
0,2022.0,AL,Aaron Judge,NYY,10.6,0.311,0.425,0.686,62.0,131.0,16.0,0.0,0.0,0.0,0.00,0.0,0.0
1,2022.0,NL,Paul Goldschmidt,STL,7.8,0.317,0.404,0.578,35.0,115.0,7.0,0.0,0.0,0.0,0.00,0.0,0.0
2,2021.0,AL,Shohei Ohtani,LAA,9.0,0.257,0.372,0.592,46.0,100.0,26.0,9.0,2.0,0.0,3.18,130.1,156.0
3,2021.0,NL,Bryce Harper,PHI,5.9,0.309,0.429,0.615,35.0,84.0,13.0,0.0,0.0,0.0,0.00,0.0,0.0
4,2020.0,AL,José Abreu,CHW,3.0,0.317,0.370,0.617,19.0,60.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0

In [5]:
#remove rows where name is NaN
MVPtest = MVP
i = 0
for item in MVP['Name']:
    if item == 0:
        MVPtest.drop(i, inplace=True) 
    i+=1
MVPtest

,Year,League,Name,Team,WAR,BA,OBP,SLG,HR,RBI,SB,W,L,SV,ERA,IP,SO
0,2022.0,AL,Aaron Judge,NYY,10.6,0.311,0.425,0.686,62.0,131.0,16.0,0.0,0.0,0.0,0.00,0.0,0.0
1,2022.0,NL,Paul Goldschmidt,STL,7.8,0.317,0.404,0.578,35.0,115.0,7.0,0.0,0.0,0.0,0.00,0.0,0.0
2,2021.0,AL,Shohei Ohtani,LAA,9.0,0.257,0.372,0.592,46.0,100.0,26.0,9.0,2.0,0.0,3.18,130.1,156.0
3,2021.0,NL,Bryce Harper,PHI,5.9,0.309,0.429,0.615,35.0,84.0,13.0,0.0,0.0,0.0,0.00,0.0,0.0
4,2020.0,AL,José Abreu,CHW,3.0,0.317,0.370,0.617,19.0,60.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,1913.0,NL,Jake Daubert,BRO,4.0,0.350,0.405,0.423,2.0,52.0,25.0,0.0,0.0,0.0,0.00,0.0,0.0
202,1912.0,AL,Tris Speaker,BOS,10.1,0.383,0.464,0.567,10.0,90.0,52.0,0.0,0.0,0.0,0.00,0.0,0.0
203,1912.0,NL,Larry Doyle,NYG,5.0,0.330,0.393,0.471,10.0,91.0,36.0,0.0,0.0,0.0,0.00,0.0,0.0
204,1911.0,AL,Ty Cobb,DET,10.7,0.419,0.466,0.620,8.0,127.0,83.0,0.0,0.0,0.0,0.00,0.0,0.0
205,1911.0,NL,Frank Schulte,CHC,5.2,0.300,0.384,0.534,21.0,107.0,23.0,0.0,0.0,0.0,0.00,0.0,0.0

In [23]:
allB = pd.read_csv('player-stats-Batters.csv')
allB.keys()

Index(['Player', 'Team', 'Pos', 'Age', 'G', 'AB', 'R', 'H', '2B', '3B', 'HR',
       'RBI', 'SB', 'CS', 'BB', 'SO', 'SH', 'SF', 'HBP', 'AVG', 'OBP', 'SLG',
       'OPS'],
      dtype='object')

In [24]:
allB

,Player,Team,Pos,Age,G,AB,R,H,2B,3B,...,CS,BB,SO,SH,SF,HBP,AVG,OBP,SLG,OPS
0,Marcus Semien,TEX,2B,32,161,657,101,163,31,5,...,8,53,120,0,10,4,0.248,0.304,0.429,0.733
1,Trea Turner,LAD,SS,29,160,652,101,194,39,4,...,3,45,131,0,6,3,0.298,0.343,0.466,0.809
2,Bo Bichette,TOR,SS,25,159,652,91,189,43,1,...,8,41,155,0,2,2,0.290,0.333,0.469,0.802
3,Dansby Swanson,ATL,SS,29,162,640,99,177,32,1,...,7,49,182,0,4,3,0.277,0.329,0.447,0.776
4,Vladimir Guerrero,TOR,1B,24,160,638,90,175,35,0,...,3,58,116,0,4,6,0.274,0.339,0.480,0.819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,Darin Ruf,NYM,OF,36,29,66,6,10,3,0,...,0,5,20,0,2,1,0.152,0.216,0.197,0.413
524,Mark Mathias,TEX,DH,28,24,65,11,18,3,0,...,0,9,26,0,0,0,0.277,0.365,0.554,0.919
525,Meibrys Viloria,TEX,C,26,26,63,10,10,1,0,...,0,11,29,0,1,0,0.159,0.280,0.270,0.550
526,Michael Hermosillo,CHC,OF,28,31,61,7,7,2,0,...,0,7,27,1,0,4,0.115,0.250,0.148,0.398
527,Luke Raley,TB,OF,28,22,61,7,12,2,0,...,0,7,24,0,1,3,0.197,0.306,0.279,0.585

In [25]:
newC = ['W', 'L', 'SV', 'ERA', 'IP']
allBnew = allB.drop(columns=['Pos', 'Age', 'G', 'AB', 'R', 'H', '2B', '3B', 'CS', 'BB', 'SO', 'SH', 'SF', 'HBP', 'OPS'])
allBnew[newC] = None
allBnew.fillna(0.0, inplace=True)
allBnew.rename(columns={'Player':'Name', 'AVG':'BA'}, inplace=True)
allBnew.head()

,Name,Team,HR,RBI,SB,BA,OBP,SLG,W,L,SV,ERA,IP
0,Marcus Semien,TEX,26,83,25,0.248,0.304,0.429,0.0,0.0,0.0,0.0,0.0
1,Trea Turner,LAD,21,100,27,0.298,0.343,0.466,0.0,0.0,0.0,0.0,0.0
2,Bo Bichette,TOR,24,93,13,0.290,0.333,0.469,0.0,0.0,0.0,0.0,0.0
3,Dansby Swanson,ATL,25,96,18,0.277,0.329,0.447,0.0,0.0,0.0,0.0,0.0
4,Vladimir Guerrero,TOR,32,97,8,0.274,0.339,0.480,0.0,0.0,0.0,0.0,0.0

In [26]:
allBnew

,Name,Team,HR,RBI,SB,BA,OBP,SLG,W,L,SV,ERA,IP
0,Marcus Semien,TEX,26,83,25,0.248,0.304,0.429,0.0,0.0,0.0,0.0,0.0
1,Trea Turner,LAD,21,100,27,0.298,0.343,0.466,0.0,0.0,0.0,0.0,0.0
2,Bo Bichette,TOR,24,93,13,0.290,0.333,0.469,0.0,0.0,0.0,0.0,0.0
3,Dansby Swanson,ATL,25,96,18,0.277,0.329,0.447,0.0,0.0,0.0,0.0,0.0
4,Vladimir Guerrero,TOR,32,97,8,0.274,0.339,0.480,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,Darin Ruf,NYM,0,7,0,0.152,0.216,0.197,0.0,0.0,0.0,0.0,0.0
524,Mark Mathias,TEX,5,16,2,0.277,0.365,0.554,0.0,0.0,0.0,0.0,0.0
525,Meibrys Viloria,TEX,2,5,0,0.159,0.280,0.270,0.0,0.0,0.0,0.0,0.0
526,Michael Hermosillo,CHC,0,4,1,0.115,0.250,0.148,0.0,0.0,0.0,0.0,0.0
527,Luke Raley,TB,1,4,0,0.197,0.306,0.279,0.0,0.0,0.0,0.0,0.0

In [27]:
merge_MVP = MVP.drop(columns=['Year', 'League', 'WAR', 'SO'])
merge_MVP.head()

,Name,Team,BA,OBP,SLG,HR,RBI,SB,W,L,SV,ERA,IP
0,Aaron Judge,NYY,0.311,0.425,0.686,62.0,131.0,16.0,0.0,0.0,0.0,0.00,0.0
1,Paul Goldschmidt,STL,0.317,0.404,0.578,35.0,115.0,7.0,0.0,0.0,0.0,0.00,0.0
2,Shohei Ohtani,LAA,0.257,0.372,0.592,46.0,100.0,26.0,9.0,2.0,0.0,3.18,130.1
3,Bryce Harper,PHI,0.309,0.429,0.615,35.0,84.0,13.0,0.0,0.0,0.0,0.00,0.0
4,José Abreu,CHW,0.317,0.370,0.617,19.0,60.0,0.0,0.0,0.0,0.0,0.00,0.0

In [28]:
newC = ['BA', 'OBP', 'SLG', 'HR', 'RBI', 'SB']
allP = pd.read_csv('player-stats-P.csv')
allPnew = allP.drop(columns=['Age', 'GS', 'G', 'CG', 'SHO', 'H', 'ER', 'BB', 'BS', 'HLD', 'WHIP'])
allPnew[newC] = None
allPnew.fillna(0.0, inplace=True)
allPnew.rename(columns={'Player': 'Name'}, inplace=True)
allPnew.head()

,Name,Team,IP,K,HR,W,L,SV,ERA,BA,OBP,SLG,RBI,SB
0,Sandy Alcantara,MIA,228.2,207,0.0,14,9,0,2.28,0.0,0.0,0.0,0.0,0.0
1,Aaron Nola,PHI,205.0,235,0.0,11,13,0,3.25,0.0,0.0,0.0,0.0,0.0
2,Miles Mikolas,STL,202.1,153,0.0,12,13,0,3.29,0.0,0.0,0.0,0.0,0.0
3,Corbin Burnes,MIL,202.0,243,0.0,12,8,0,2.94,0.0,0.0,0.0,0.0,0.0
4,Framber Valdez,HOU,201.1,194,0.0,17,6,0,2.82,0.0,0.0,0.0,0.0,0.0

In [29]:
#reorder columns for combining
#allBnew
allBclean = pd.DataFrame()
cols = list(merge_MVP.columns)
for i in cols:
    data = allBnew[i]
    allBclean[i] = data
    newdf = pd.concat([merge_MVP,allBclean])
    
newdf

,Name,Team,BA,OBP,SLG,HR,RBI,SB,W,L,SV,ERA,IP
0,Aaron Judge,NYY,0.311,0.425,0.686,62.0,131.0,16.0,0.0,0.0,0.0,0.00,0.0
1,Paul Goldschmidt,STL,0.317,0.404,0.578,35.0,115.0,7.0,0.0,0.0,0.0,0.00,0.0
2,Shohei Ohtani,LAA,0.257,0.372,0.592,46.0,100.0,26.0,9.0,2.0,0.0,3.18,130.1
3,Bryce Harper,PHI,0.309,0.429,0.615,35.0,84.0,13.0,0.0,0.0,0.0,0.00,0.0
4,José Abreu,CHW,0.317,0.370,0.617,19.0,60.0,0.0,0.0,0.0,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,Darin Ruf,NYM,0.152,0.216,0.197,0.0,7.0,0.0,0.0,0.0,0.0,0.00,0.0
524,Mark Mathias,TEX,0.277,0.365,0.554,5.0,16.0,2.0,0.0,0.0,0.0,0.00,0.0
525,Meibrys Viloria,TEX,0.159,0.280,0.270,2.0,5.0,0.0,0.0,0.0,0.0,0.00,0.0
526,Michael Hermosillo,CHC,0.115,0.250,0.148,0.0,4.0,1.0,0.0,0.0,0.0,0.00,0.0
527,Luke Raley,TB,0.197,0.306,0.279,1.0,4.0,0.0,0.0,0.0,0.0,0.00,0.0

In [30]:
#Create 4 dataframes with the different MVPs in order to compare distances
#Alex Rodriguez, Barry Bonds, 2003
#Cal Ripken Jr., Dale Murhpy 1983

In [31]:
#Alex Rodriguez 2003
arod = merge_MVP.loc[(merge_MVP['Name'] == 'Alex Rodriguez') & (merge_MVP['Team'] == 'TEX')]
arod = pd.concat([arod, allBnew])
newi = range(len(arod))
arod.reset_index(drop=True, inplace=True)
arod

,Name,Team,BA,OBP,SLG,HR,RBI,SB,W,L,SV,ERA,IP
0,Alex Rodriguez,TEX,0.298,0.396,0.600,47.0,118.0,17.0,0.0,0.0,0.0,0.0,0.0
1,Marcus Semien,TEX,0.248,0.304,0.429,26.0,83.0,25.0,0.0,0.0,0.0,0.0,0.0
2,Trea Turner,LAD,0.298,0.343,0.466,21.0,100.0,27.0,0.0,0.0,0.0,0.0,0.0
3,Bo Bichette,TOR,0.290,0.333,0.469,24.0,93.0,13.0,0.0,0.0,0.0,0.0,0.0
4,Dansby Swanson,ATL,0.277,0.329,0.447,25.0,96.0,18.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,Darin Ruf,NYM,0.152,0.216,0.197,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0
525,Mark Mathias,TEX,0.277,0.365,0.554,5.0,16.0,2.0,0.0,0.0,0.0,0.0,0.0
526,Meibrys Viloria,TEX,0.159,0.280,0.270,2.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
527,Michael Hermosillo,CHC,0.115,0.250,0.148,0.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0
528,Luke Raley,TB,0.197,0.306,0.279,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
#Barry Bonds 2003
Bbonds = merge_MVP.loc[(merge_MVP['Name'] == 'Barry Bonds') & (merge_MVP['BA'] == 0.341)]
Bbonds = pd.concat([Bbonds, allBnew])
newi = range(len(Bbonds))
Bbonds.reset_index(drop=True, inplace=True)
Bbonds

,Name,Team,BA,OBP,SLG,HR,RBI,SB,W,L,SV,ERA,IP
0,Barry Bonds,SFG,0.341,0.529,0.749,45.0,90.0,7.0,0.0,0.0,0.0,0.0,0.0
1,Marcus Semien,TEX,0.248,0.304,0.429,26.0,83.0,25.0,0.0,0.0,0.0,0.0,0.0
2,Trea Turner,LAD,0.298,0.343,0.466,21.0,100.0,27.0,0.0,0.0,0.0,0.0,0.0
3,Bo Bichette,TOR,0.290,0.333,0.469,24.0,93.0,13.0,0.0,0.0,0.0,0.0,0.0
4,Dansby Swanson,ATL,0.277,0.329,0.447,25.0,96.0,18.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,Darin Ruf,NYM,0.152,0.216,0.197,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0
525,Mark Mathias,TEX,0.277,0.365,0.554,5.0,16.0,2.0,0.0,0.0,0.0,0.0,0.0
526,Meibrys Viloria,TEX,0.159,0.280,0.270,2.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
527,Michael Hermosillo,CHC,0.115,0.250,0.148,0.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0
528,Luke Raley,TB,0.197,0.306,0.279,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
#Cal Ripken Jr. 1983
Cripjr = merge_MVP.loc[(merge_MVP['Name'] == 'Cal Ripken Jr.') & (merge_MVP['BA'] == 0.318)]
Cripjr = pd.concat([Cripjr, allBnew])
newi = range(len(Cripjr))
Cripjr.reset_index(drop=True, inplace=True)
Cripjr

,Name,Team,BA,OBP,SLG,HR,RBI,SB,W,L,SV,ERA,IP
0,Cal Ripken Jr.,BAL,0.318,0.371,0.517,27.0,102.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Marcus Semien,TEX,0.248,0.304,0.429,26.0,83.0,25.0,0.0,0.0,0.0,0.0,0.0
2,Trea Turner,LAD,0.298,0.343,0.466,21.0,100.0,27.0,0.0,0.0,0.0,0.0,0.0
3,Bo Bichette,TOR,0.290,0.333,0.469,24.0,93.0,13.0,0.0,0.0,0.0,0.0,0.0
4,Dansby Swanson,ATL,0.277,0.329,0.447,25.0,96.0,18.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,Darin Ruf,NYM,0.152,0.216,0.197,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0
525,Mark Mathias,TEX,0.277,0.365,0.554,5.0,16.0,2.0,0.0,0.0,0.0,0.0,0.0
526,Meibrys Viloria,TEX,0.159,0.280,0.270,2.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
527,Michael Hermosillo,CHC,0.115,0.250,0.148,0.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0
528,Luke Raley,TB,0.197,0.306,0.279,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
#Dale Murphy 1983
Dmurph = merge_MVP.loc[(merge_MVP['Name'] == 'Dale Murphy') & (merge_MVP['BA'] == 0.281)]
Dmurph = pd.concat([Dmurph, allBnew])
newi = range(len(Dmurph))
Dmurph.reset_index(drop=True, inplace=True)
Dmurph

,Name,Team,BA,OBP,SLG,HR,RBI,SB,W,L,SV,ERA,IP
0,Dale Murphy,ATL,0.281,0.378,0.507,36.0,109.0,23.0,0.0,0.0,0.0,0.0,0.0
1,Marcus Semien,TEX,0.248,0.304,0.429,26.0,83.0,25.0,0.0,0.0,0.0,0.0,0.0
2,Trea Turner,LAD,0.298,0.343,0.466,21.0,100.0,27.0,0.0,0.0,0.0,0.0,0.0
3,Bo Bichette,TOR,0.290,0.333,0.469,24.0,93.0,13.0,0.0,0.0,0.0,0.0,0.0
4,Dansby Swanson,ATL,0.277,0.329,0.447,25.0,96.0,18.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,Darin Ruf,NYM,0.152,0.216,0.197,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0
525,Mark Mathias,TEX,0.277,0.365,0.554,5.0,16.0,2.0,0.0,0.0,0.0,0.0,0.0
526,Meibrys Viloria,TEX,0.159,0.280,0.270,2.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
527,Michael Hermosillo,CHC,0.115,0.250,0.148,0.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0
528,Luke Raley,TB,0.197,0.306,0.279,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
from sklearn.metrics import DistanceMetric
dist = DistanceMetric.get_metric('euclidean')
X = [[0, 1, 2],
     [3, 4, 5],
     [7,2,9],
     [8,3,6]]
dist.pairwise(X)

#

array([[0.        , 5.19615242, 9.94987437, 9.16515139],
       [5.19615242, 0.        , 6.        , 5.19615242],
       [9.94987437, 6.        , 0.        , 3.31662479],
       [9.16515139, 5.19615242, 3.31662479, 0.        ]])

In [53]:
#test = arod.loc[arod['Name'] == 'Alex Rodriguez']
#for col in test:
#    print(list(test[col]))

# perform similarity testing

# Alex Rodriguez

In [56]:
#Alex Rodriguez
from sklearn.metrics import DistanceMetric

names = list(arod.Name)
stats = []
for n in names:
    s = []
    player = arod.loc[arod['Name'] == n]
    stats_df = player.drop(columns=['Name', 'Team'])
    for col in stats_df:
        l = list(stats_df[col])
        s.append(l[0])
    stats.append(s)
#stats

In [58]:

dist = DistanceMetric.get_metric('euclidean')
sims = dist.pairwise(stats)

In [59]:
arod_sims = {}
for i in range(len(sims)):
    arod_sims[names[i]] = sims[i][0]

In [65]:
top5 = sorted(arod_sims.items(), key=lambda x:x[1])[1:6]

In [66]:
for i in top5:
    print(i)

('Paul Goldschmidt', 15.906002294731383)
('Pete Alonso', 19.02654432628269)
('Aaron Judge', 19.874818389107357)
('Jose Ramirez', 19.92509475510719)
('Kyle Tucker', 21.77202151845345)

# Barry Bonds

In [70]:


names = list(Bbonds.Name)
stats = []
for n in names:
    s = []
    player = Bbonds.loc[Bbonds['Name'] == n]
    stats_df = player.drop(columns=['Name', 'Team'])
    for col in stats_df:
        l = list(stats_df[col])
        s.append(l[0])
    stats.append(s)
#stats

In [71]:
dist = DistanceMetric.get_metric('euclidean')
sims = dist.pairwise(stats)

In [72]:
bbonds_sims = {}
for i in range(len(sims)):
    bbonds_sims[names[i]] = sims[i][0]

In [73]:
top5 = sorted(bbonds_sims.items(), key=lambda x:x[1])[1:6]

In [74]:
for i in top5:
    print(i)

('Kyle Schwarber', 5.11053715376378)
('Austin Riley', 9.115144815086593)
('Christian Walker', 11.050999457062696)
('Rowdy Tellez', 11.231542948321927)
('Yordan Alvarez', 12.20798304389386)

# Cal Ripken Jr.

In [75]:


names = list(Cripjr.Name)
stats = []
for n in names:
    s = []
    player = Cripjr.loc[Cripjr['Name'] == n]
    stats_df = player.drop(columns=['Name', 'Team'])
    for col in stats_df:
        l = list(stats_df[col])
        s.append(l[0])
    stats.append(s)
#stats

In [76]:
dist = DistanceMetric.get_metric('euclidean')
sims = dist.pairwise(stats)

In [77]:
cripjr_sims = {}
for i in range(len(sims)):
    cripjr_sims[names[i]] = sims[i][0]

In [78]:
top5 = sorted(cripjr_sims.items(), key=lambda x:x[1])[1:6]

In [79]:
for i in top5:
    print(i)

('C.J. Cron', 2.00231316232002)
('Nolan Arenado', 5.916168523630813)
('Matt Olson', 7.071760742559097)
('Willy Adames', 9.798735122453305)
('Alex Bregman', 9.899872473926116)

# Dale Murphy

In [80]:
names = list(Dmurph.Name)
stats = []
for n in names:
    s = []
    player = Dmurph.loc[Dmurph['Name'] == n]
    stats_df = player.drop(columns=['Name', 'Team'])
    for col in stats_df:
        l = list(stats_df[col])
        s.append(l[0])
    stats.append(s)
#stats

In [81]:
dist = DistanceMetric.get_metric('euclidean')
sims = dist.pairwise(stats)

In [82]:
dmurph_sims = {}
for i in range(len(sims)):
    dmurph_sims[names[i]] = sims[i][0]

In [83]:
top5 = sorted(dmurph_sims.items(), key=lambda x:x[1])[1:6]

In [84]:
for i in top5:
    print(i)

('Kyle Tucker', 6.633530055709404)
('Adolis Garcia', 12.206950724894403)
('Francisco Lindor', 12.369519230754282)
('Manny Machado', 16.155525649139367)
('Paul Goldschmidt', 17.11744761931521)